@font-face {
    font-family: 'Roboto';
    src:  url('/fonts/roboto-websont.woff2') format('woff2'),
    url('/fonts/roboto-webfont.woff') format('woff');,
}body {
    background-image: url('/images/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}